#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border: 1px solid #ccc;
}

.form-title:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 5px #646cff;
}

.form-description {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  resize: vertical;
  height: 100px;
}

.form-description:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 5px #646cff;
}
